<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Formulaire voiture</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
</head>
<body>
<form method="post" action="saveVoiture" modelAttribute="voiture">
	
		<div class="mb-3">
			<label for="nom" class="form-label">Nom</label> 
			<input type="text" name="nom" class="form-control" id="nom">
		</div>
		<div class="mb-3">
			<label for="marque" class="form-label">marque</label> 
			<input type="text" name="marque" class="form-control" id="marque">
		</div>
		<div class="mb-3">
			<label for="immatriculation" class="form-label">Immatriculation</label> 
			<input type="text" name="immatriculation" class="form-control" id="immatriculation">
		</div>
		<div class="mb-3">
			<label for="puissance" class="form-label">puissance</label> 
			<input type="text" name="puissance" class="form-control" id="puissance">
		</div>
		
		<button type="submit" class="btn btn-outline-success btn-sm">Valider</button>
		<button type="reset" class="btn btn-outline-secondary btn-sm">Annuler</button>
		
		
	
	</form>
</body>
</html>